<ul id="menu_items" ng-controller="slideMenuController">
	<li><a ui-sref="about" ng-click="hidePopup()" id="share_about"><i></i>About</a></li>
	<li><a ng-click="fbShare()"
	       id="share_serp_facebook" style="cursor:pointer;">
		<i></i>Share on Facebook</a></li>
	<li><a
		ng-click="twitterShare()"
		id="share_serp_twitter"  style="cursor: pointer">
		<i></i>Share on Twitter</a></li>
	<li><a
		href="mailto:?subject=SourceMoz%20Search&body=Check%20out%20the%20SourceMoz%20search%20app%3A%0D%0Ahttp%3A%2F%2Fsourcemoz.com%2F"
		ng-click="hidePopup()"
		id="share_serp_email">
		<i></i>Share by Email</a></li>
	<li><a
		ng-click="hidePopup()"
		href="mailto:mreisbeck@gmail.com?subject=SourceMoz%20Feedback&body="
		id="share_serp_feedback">
		<i></i>Feedback</a></li>
</ul>