<div id="about">
	<div id="noJS" style="display: none;">We do apologize, you must turn on JavaScript to continue.</div>
	<script>$('#noJS').hide();</script>
	<div id="content-wrapper">
		<div id="content">
			<p>
				Welcome to Source<span>Moz</span><br/><br/>
				SourceMoz (pronounced ‘sɔrs-mɒs’/‘sohrs-mahz’) is a simple and functional
				search engine that does not save, track or share your IP address or usage
				activity.<br/><br/>
				Most major search engines collect user information that is automatically sent
				to them by your computer including IP addresses, user agents, the time/date
				of the search and of course, what it is you searched for.  Since a search engine
				is not required by law to collect or save any personal or usage information, at
				SourceMoz we choose not to do so.
			</p>
			<p>Simplicity <span>+</span> Accessibility<br/><br/>
				At SourceMoz you’ll find a web search experience that is dedicated to both
				simplicity and accessibility, creating a dynamic and efficient UX that clearly
				identifies sponsored listings from organic search results, while minimizing
				distractions and unnecessary information.<br/><br/>
				We thank you for visiting and invite your feedback with any comments or
				suggestions you may have.
			</p>
		</div>
		<div id="upline">
			<a ui-sref="frontpage" id="logo"></a>
			<form id="search"
				ng-submit="$event.preventDefault(); submit()"
				ng-controller='searchInputController'>
				<autocomplete
					attr-placeholder=""
					attr-input-id="q"
					ng-model="q"
					on-select="useSuggestion"
					on-type="updateSuggestions"
					no-auto-sort="true"></autocomplete>
				<input id="qs" name="" type="submit" value="" title="Search with SourceMoz" ng-click="submit()">
			</form>
		</div>
		<div id="copyright">
			<span id="mfCopy">©2018 SourceMoz</span>
			<span id="mfLinks">
				<a ui-sref="frontpage">Home</a> | 
				<a ui-sref="about">About</a> | 
				<a href="mailto:feedback@sourcemoz.com?subject=Feedback%20on%20sourcemoz.com&body=Hello%21%0D%0A%0D%0AI%20got%20something%20to%20tell%20you%20about%20sourcemoz.com%21">Feedback</a> | 
				<a ui-sref="privacy">Privacy</a>
			</span>
		</div>
	</div>
</div>