<div id="privacy">
	<div id="noJS" style="display: none;">We do apologize, you must turn on JavaScript to continue.</div>
	<script>$('#noJS').hide();</script>
	<div id="content-wrapper">
		<div id="content">
			<h1>SourceMoz Privacy Statement</h1>
			<p>
				This document was last updated on 4.15.2017.<br/><br/>
				SourceMoz is committed to protecting your privacy. By accessing sourcemoz.com, you acknowledge and fully understand this privacy statement and freely consent to the use practices described herein.
			</p>
			<h3>Online Privacy Protection</h3>
			<p>
				When using any website your web browser automatically sends specific information regarding your computer through the User Agent, as well as your IP address which can be used to identify who is performing the search.  At SourceMoz we do not collect or store this information, which is central to providing an anonymous web search experience.<br/><br/>
				SourceMoz does not collect or store the following information under any circumstances:<br/><br/>
				-  Your Internet Protocol (IP) address.<br/><br/>
				-  Any information sent by the User Agent (browser type, operating system, computer software or hardware info).<br/><br/>
				-  The city, state or country from where you accessed the site.<br/><br/>
				-  The date and time of your visit.<br/><br/>
				-  The name of your internet service provider (ISP).<br/><br/>
				-  The web page you came to the site from.<br/><br/>
				-  What pages are viewed on the site.<br/><br/>
				-  What links are clicked on the site.
			</p>
			<h3>Cookies</h3>
			<p>
				SourceMoz provides the same interface to all visitors and does not use or install cookies to personalize or enhance the user experience.
			</p>
			<h3>Third-Party APIs</h3>
			<p>
				SourceMoz relies on the use of third-party API (application programming interface) services to provide search results.  While we do everything we can to protect your anonymity within the terms of these independent services, in some cases SourceMoz cannot guarantee complete privacy for our users.  For example, when images are displayed there may be an (open http connection?) that is a direct connection between your computer and the API service provider that is required to display the images. Although this is a passive connection….(THIS SECTION NEEDS REWRITING AFTER REVIEW)<br/><br/>
				At SourceMoz we are always working to improve privacy protections for our users, however we may not currently be able to provide the same level of protection that other private search engines have.  If absolute privacy is your primary concern, we recommend these web search engines:<br/><br/>
				http://www.startpage.com<br/>
				http://www.duckduckgo.com
			</p>
			<h3>Third-Party Sites</h3>
			<p>
				SourceMoz is a search engine that displays links to other sites on the Internet that are owned and operated by independent businesses, organizations and individuals.  When you a click on a search result or a sponsored (‘Ad’) listing, you are no longer under the privacy protections that SourceMoz provides.  SourceMoz is not responsible for the privacy practices of, the availability of, or the content located on or through any linked site. You should review the individual policies of these sites if you have any concerns regarding their content or how they are protecting your privacy.
			</p>
			<h3>Email Addresses</h3>
			<p>
				When providing feedback or contacting us through email, the message, along with your email address, will be temporarily stored in our system.  Under no circumstances will we share your email address or message contents with any third-parties.
			</p>
			<h3>Legal Compliance</h3>
			<p>
				As with all persons and organizations, SourceMoz must comply with court ordered requests.  However, since we do not collect or store any personally identifiable information, we can provide virtually no relevant information for such requests.
			</p>
			<h3>Contacting Us</h3>
			<p>
				If you have any questions regarding our privacy statement, its implementation and/or our general practices, please contact us.  SourceMoz will use reasonable efforts to promptly respond to any questions or concerns.
			</p>
			<p>
				<br/><br/>
				SourceMoz<br/>
				Carlsbad, California<br/>
				mailto:admin@sourcemoz.com<br/>
			</p>
		</div>
		<div id="copyright">
			<span id="mfCopy">©2018 SourceMoz</span>
			<span id="mfLinks">
				<a ui-sref="frontpage">Home</a> | 
				<a ui-sref="about">About</a> | 
				<a href="mailto:mreisbeck@gmail.com?subject=Feedback%20on%20sourcemoz.com&body=Hello%21%0D%0A%0D%0AI%20got%20something%20to%20tell%20you%20about%20sourcemoz.com%21">Feedback</a> | 
				<a ui-sref="privacy">Privacy</a>
			</span>
		</div>
	</div>
</div>